.TRIGGER {
    width: 100%;
    height: 650px;
    background: url(../img/Prariria.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.HAUNT {
    margin-bottom: 0px;
}

.DIED {
    padding-top: 10px;
    padding-bottom: 10px;
}

.DOWN {
    width: 300PX;

}


.DOWN img {
    width: 300PX;
}


.NOHAPPY {
    width: 300PX
}

.NOHAPPY img {
    width: 300PX;
}

.SADDY {
    width: 300PX;

}

.SADDY img {
    width: 300PX;
}

.link-config a{
    font-weight: bold;
    background-color: royalblue;
    color: silver;
    padding: 7px;
    border-radius: 3px;
}

.link-config a:hover{
    color: rgb(255, 228, 78);
    background-color: rgb(10, 112, 10);
}


.espbutton{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1125px) {
  body {
    background-color: rgb(73, 126, 139);
  }
  .banner{
    height: 200px;
  }
}